<!-- abstracts.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Abstracts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/abstracts.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='res/favicon.png') }}">
</head>
<body>
    {% if abstracts %}
        <h1>Abstract</h1>
        {% for paragraph in abstracts.split('\n') %}
            <p>{{ paragraph }}</p>
            <br>
        {% endfor %}
    {% else %}
        <p>No abstract found for this input.</p>
    {% endif %}
</body>
</html>